
<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            {{range $key := .BlogKeys}}
                <!-- timeline time label -->
                <li class="time-label">
                        <span class="bg-green">
                    {{$key}}
                        </span>
                </li>
                <!-- /.timeline-label -->
                {{range $elem := index $.Blogs $key}}
                    <!-- timeline item -->
                    <li>
                        <i class="fa {{if eq $elem.Type 2}}fa-mail-forward bg-maroon {{else}} fa-book  bg-purple{{end}}"></i>

                        <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{date $elem.CreatedAt "Y-m-d H:i:s"}}</span>

                        <h3 class="timeline-header"><a href="/home?action=detail&id={{$elem.ID}}">{{$elem.Title}}</a></h3>

                        <div class="timeline-body">
                            {{$elem.Content | GetHundred | Markdown | str2html}} ......
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs" href="/home?action=detail&id={{$elem.ID}}">Read more</a>
                        </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                {{end}}
            {{end}}
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
        </ul>
    </div>
    <!-- /.col -->
</div>
<!-- /.row --> 
