<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{.SubTitle}}</h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-success btn-xs" href="/blog?action=create">Add Category</a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>View Times</th>
                            <th>Create Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Blogs}}
                            <tr>
                                <td><a href="/blog?action=edit&id={{.ID}}">{{.Title}}</a></td>
                                <td>{{.Category.Name}}</td>
                                <td>{{.StatusId | GetBlogStatus}}</td>
                                <td>{{.Views}}</td>
                                <td>{{date .CreatedAt "Y-m-d H:i:s" }}</td>
                                <td><a href="/blog?action=del&id={{.ID}}"><i class="fa fa-trash"></i></a>
                                <a href="/blog?action=updateStatus&id={{.ID}}"><i class="fa {{if eq .StatusId 0}}fa-envelope{{else}}fa-envelope-open{{end}}"></i></a></td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>